version: 1.0.0.{build}

environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: WMF 5
    PowerShellEdition: Desktop
  - APPVEYOR_BUILD_WORKER_IMAGE: WMF 5
    PowerShellEdition: Core
  COVERALLS_REPO_TOKEN:
    secure: qdM5+aH37DUZTvTqs6UoBAEsyuiPGr/z2SUsj13m/TU/Zf1qFEKJhqQQXpBeyjxO

install:
  - ps: |
      Install-PackageProvider -Name NuGet -ErrorAction Stop -Force | Out-Null;
      Install-Module -Name Psake -Force -SkipPublisherCheck -Scope CurrentUser -ErrorAction Stop;
      Import-Module Psake -ErrorAction Stop;
      Invoke-Psake InstallModules -Verbose -InformationAction Continue -ErrorAction Stop;

build_script:
  - ps: |
      Invoke-psake BuildHelp -Verbose -InformationAction Continue -ErrorAction Stop;

# branches:
 # only:
   # - master
   # - development

test_script:
  - ps: |
      Invoke-psake ScriptAnalysis -ErrorAction Stop;
      Invoke-psake UnitTests -ErrorAction Stop;
