version: 1.0.0.{build}

environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: WMF 5
    PowerShellEdition: Desktop
  - APPVEYOR_BUILD_WORKER_IMAGE: WMF 5
    PowerShellEdition: Core

install:
  - ps: |
      Install-Module -Name Psake -Force -SkipPublisherCheck -Scope CurrentUser -ErrorAction Stop;
      Import-Module Psake -ErrorAction Stop;
      Invoke-Psake InstallModules -ErrorAction Stop;

# build_script:
build: off

# branches:
 # only:
   # - master
   # - development

test_script:
  - ps: |
      Invoke-psake UnitTests -ErrorAction Continue;
